<?xml version="1.0" encoding="utf-8" ?>
<log4net>
   <appender name="RollingLogFileAppender"
      type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <file value="c:\\temp\\" />
    <appendToFile value="true" />
	<staticLogFileName value="false" />
    <DatePattern value="'TaskLog'_ddMMyyyy_HH'.txt'" />
    <rollingStyle value="Date" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern   value="%-5p %d{dd-MM-yyyy HH:mm:ss,fff}%4rms:%m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <!--<appender-ref ref="SmtpAppender" />-->
  </root>
</log4net>